@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mnjj6a');
  src:  url('../fonts/icomoon.eot?mnjj6a#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mnjj6a') format('truetype'),
    url('../fonts/icomoon.woff?mnjj6a') format('woff'),
    url('../fonts/icomoon.svg?mnjj6a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-instagram:before {
  content: "\f16d";
}
