$open: "Open Sans", sans-serif;
$yellow: #e8c300;

body {
    font-family: $open;
    font-weight: 700;
    font-size: 12px;
    color: white;
    line-height: 1;
}
.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}
.noscroll {
    position: fixed;
    overflow-y: scroll !important;
}

.header {
    height: 100vh;
    background: url("../images/background.png") center/cover no-repeat fixed;
    &__menu-list {
        display: flex;
    }

    &__list-item {
        width: 133px;
        height: 99px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        &:nth-child(4) {
            margin-right: 220px;
        }
    }

    &__link {
        color: white;
        line-height: 18px;
        transition: 0.5s;
        &:hover {
            color: $yellow;
            transform: scale(1.6);
        }
    }
    &__logo {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        top: 25px;
    }

    &__logo-img {
        transition: 1.5s;
        &:hover {
            transform: rotate(360deg);
        }
    }

    &__menu-btn {
        display: none;
        width: 50px;
        height: 50px;
        border: 1px solid white;
        cursor: pointer;
        &:active {
            transform: scale(0.95);
        }
    }
    &__btn-line {
        height: 2px;
        width: 30px;
        background-color: white;
    }

    &__content {
        margin-top: 225px;
    }

    &__content-inner {
        position: relative;
    }

    &__days {
        transform-origin: left bottom;
        transform: rotate(-90deg);
        text-align: center;
        display: inline-block;
        position: absolute;
        left: 15px;
        top: 100%;
    }

    &__main {
        text-align: center;
    }

    &__subtitle {
        line-height: 14px;
        letter-spacing: 0.5em;
        text-transform: uppercase;
    }

    &__title {
        position: relative;
        font-family: $open;
        font-weight: 700;
        font-size: 96px;
        line-height: 128px;
        text-transform: uppercase;
        margin-bottom: 36px;
        &::after {
            content: "";
            width: 60px;
            height: 5px;
            display: inline-block;
            border-radius: 50px;
            background-color: $yellow;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__btns {
        display: inline-flex;
    }

    &__btn {
        display: inline-block;
        line-height: 20px;
        width: 200px;
        padding: 20px 0;
        text-transform: uppercase;
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        transition: 0.5s;
        &:first-child {
            margin-right: 40px;
        }
        &:hover {
            background-color: $yellow;
        }
    }
    &__arrow {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        position: absolute;
        left: 50%;
        bottom: 83px;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @keyframes arrow {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.4);
        }
    }

    &__arrow-transition {
        width: 40px;
        height: 40px;
        background-color: white;
        display: inline-block;
        border-radius: 50%;
        transition: 0.5s;
        &::before {
            content: "\f107";
            font-family: "icomoon";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            font-weight: 900;
            color: #333333;
            line-height: 23px;
        }
        &:hover {
            background-color: $yellow;
        }
        animation: arrow 1s infinite alternate;
    }

    &__contact-items {
        position: absolute;
        right: 0;
        top: 14px;
        display: inline-flex;
        flex-direction: column;
    }

    &__item-link {
        position: relative;
        width: 60px;
        height: 60px;
        display: block;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 20px;
        transition: 0.5s;
        &::before {
            font-family: "icomoon";
            font-size: 20px;
            line-height: 23px;
            color: white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &:nth-child(1):before {
            content: "\f09a";
        }
        &:nth-child(2):before {
            content: "\f099";
        }
        &:last-child {
            margin-bottom: 0;
            &::before {
                content: "\f16d";
            }
        }
        &:hover {
            border-color: $yellow;
            border-width: 5px;
            &::before {
                color: $yellow;
            }
        }
    }
}

.container-menu {
    position: relative;
}
.menu-dropdown {
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    left: -100%;
    transition: all 0.5s;
    z-index: 3;
    &.active {
        left: 0;
    }

    &__close-btn {
        width: 50px;
        height: 50px;
        background-color: #000000;
        position: absolute;
        right: 0;
        top: 40px;
        right: 15px;
        cursor: pointer;
    }

    &__close-btn:active {
        transform: scale(0.96);
    }

    &__close-btn::after,
    &__close-btn::before {
        content: "";
        width: 70px;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        transform-origin: left;
    }

    &__close-btn::after {
        transform: rotate(45deg);
    }

    &__close-btn::before {
        transform: rotate(-45deg);
        bottom: -1px;
    }

    &__list {
        height: 100vh;
        display: flex;
        align-items: center;
    }
    &__list-item {
        margin-bottom: 10px;
    }
    &__link {
        display: block;
        font-size: 48px;
        line-height: 56px;
        font-weight: 700;
        color: white;

        &:hover {
            color: $yellow;
        }
    }
}

.about {
    padding: 100px 0;
    &__inner {
        display: flex;
        align-items: center;
    }

    &__text {
        text-align: center;
        max-width: 600px;
        margin-right: 80px;
    }

    &__title {
        color: black;
        margin-bottom: 23px;
    }

    &__subtitle {
        color: black;
        margin-bottom: 14px;
    }

    &__description {
        color: black;
    }

    &__img {
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    }
}
.section-img {
    border-radius: 5px;
}

.secondary-title {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    &::after {
        content: "";
        width: 60px;
        height: 5px;
        display: inline-block;
        border-radius: 50px;
        background-color: $yellow;
        position: absolute;
        bottom: -13px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.subtitle {
    font-size: 18px;
    line-height: 28px;
}
.description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.image-right {
    position: relative;
    &::before {
        content: "";
        width: 250px;
        height: 250px;
        display: inline-block;
        border: 20px solid $yellow;
        border-radius: 5px;
        position: absolute;
        right: -50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
    }
}

.team {
    background: url("../images/team-background.png") center/cover no-repeat fixed;
    padding-top: 44px;
    padding-bottom: 100px;

    &__title-section {
        margin-bottom: 44px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 21px;
    }

    &__text {
        text-align: center;
        max-width: 600px;
        margin-left: 72px;
    }

    &__title {
        margin-bottom: 23px;
    }

    &__subtitle {
        margin-bottom: 14px;
    }

    &__img {
        box-shadow: 0px 0px 50px #000000;
    }
}
.title-section {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-align: center;
    text-transform: uppercase;
}

.image-left {
    position: relative;
    &::before {
        content: "";
        width: 250px;
        height: 250px;
        display: inline-block;
        border: 20px solid $yellow;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
    }
}

.book {
    padding-top: 100px;
    padding-bottom: 40px;
    &__inner {
        padding-left: 50px;
    }

    &__content {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    &__order {
        max-width: 565px;
        margin-right: 71.5px;
    }

    &__title {
        color: black;
        margin-bottom: 31px;
        text-align: center;
    }

    &__order-form {
        display: grid;
        grid-template-columns: 277px 277px;
        grid-auto-rows: 60px;
        grid-gap: 10px;
    }

    &__input {
        background-color: #e5e5e5;
        border-radius: 5px;
        font-family: $open;
        font-size: 14px;
        line-height: 19px;
        color: rgba(51, 51, 51, 0.5);
        padding: 0 21px;
        &::placeholder {
            font-family: $open;
            font-size: 14px;
            line-height: 19px;
            color: rgba(51, 51, 51, 0.5);
        }
    }

    &__select {
        background-color: #e5e5e5;
        background-image: url("../images/selected.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        font-family: $open;
        font-size: 14px;
        line-height: 19px;
        color: rgba(51, 51, 51, 0.5);
        padding: 0 21px;
        appearance: none;
        cursor: pointer;
    }

    &__btn {
        grid-column: 1/3;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        color: white;
        background-color: $yellow;
        border-radius: 5px;
        text-transform: uppercase;
        transition: 0.5s;
        &:hover {
            background-color: orange;
        }
    }

    &__img {
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    }

    &__info {
        text-align: center;
        font-weight: 400;
        color: rgba(51, 51, 51, 0.5);
    }

    &__info-time {
        font-weight: 700;
    }

    &__info-link {
        color: rgba(51, 51, 51, 0.5);
        font-weight: 700;
        &:hover {
            color: $yellow;
        }
    }
}

.specialties {
    background: url("../images/specialties-background.png") center/cover no-repeat fixed;
    padding-top: 44px;
    padding-bottom: 100px;

    &__title-section {
        margin-bottom: 44px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 21px;
    }

    &__img {
        box-shadow: 0px 0px 50px #000000;
    }

    &__text {
        text-align: center;
        max-width: 600px;
        margin-left: 72px;
    }
    &__title {
        margin-bottom: 23px;
    }

    &__subtitle {
        margin-bottom: 14px;
    }
}

.menu {
    padding: 100px 0;
    color: #333333;

    &__title {
        color: black;
        text-align: center;
        margin-bottom: 27px;
    }

    &__subtitle {
        max-width: 565px;
        color: black;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    &__category-items {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(7, minmax(90px, 120px));
        margin-bottom: 51px;
    }

    &__category-item {
        border-left: 1px solid rgba(51, 51, 51, 0.2);
        &:first-child {
            border-left: none;
        }
    }

    &__category-link {
        text-align: center;
        padding: 16px 0;
        display: block;
        height: 100%;
        text-transform: uppercase;
        color: #333333;
        font-size: 12px;
        line-height: 18px;
        font-weight: 700;
        transition: 0.5s;
        &:hover {
            background-color: $yellow;
        }
    }

    &__foot-items {
        display: grid;
        grid-template-columns: repeat(3, 363px);
        justify-content: space-between;
        grid-gap: 42px 50px;
    }

    &__foot-item {
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__foot-description {
        font-size: 12px;
        font-weight: 400;
        color: rgba(51, 51, 51, 0.5);
        text-transform: none;
    }
}

.events {
    background: url("../images/events-background.png") center/cover no-repeat fixed;
    padding: 44px 0;
    &__title-section {
        margin-bottom: 44px;
    }

    &__image-items {
        display: flex;
        justify-content: center;
        margin-bottom: 44px;
    }

    &__image-item {
        &:first-child {
            margin-right: 40px;
            position: relative;
            &::after {
                content: "weddings";
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: black;
                writing-mode: vertical-rl;
                font-size: 24px;
                text-indent: 20px;
                text-transform: uppercase;
                color: white;
                padding: 0 29px;
            }
        }
        &:last-child {
            margin-left: 40px;
            &::after {
                content: "corporate parties";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                background-color: black;
                writing-mode: vertical-rl;
                font-size: 24px;
                text-indent: 20px;
                text-transform: uppercase;
                transform: rotate(-180deg);
                color: white;
                padding: 0 29px;
            }
        }
    }

    &__img {
        box-shadow: 0px 0px 50px #000000;
    }

    &__info {
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 400;
    }

    &__info-link {
        color: rgba(255, 255, 255, 0.5);
        font-weight: 700;
    }
}

.galerie {
    &__items {
        display: grid;
        grid-template-columns: repeat(4, minmax(220px, 1fr));
    }

    &__item {
        width: 100%;
    }
}

%beforestyle {
    font-family: "icomoon";
    font-size: 14px;
    line-height: 14px;
    color: $yellow;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer {
    padding-top: 100px;
    color: black;

    &__title {
        text-align: center;
        margin-bottom: 27px;
    }

    &__subtitle {
        max-width: 565px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    &__message-form {
        display: grid;
        grid-template-columns: repeat(6, minmax(130px, 205px));
        grid-template-rows: 60px 120px 60px;
        grid-gap: 10px;
        margin-bottom: 100px;
    }

    &__input {
        background-color: #e5e5e5;
        border-radius: 5px;
        font-size: 14px;
        line-height: 19px;
        color: black;
        font-weight: 400;
        padding: 0 20px;
        &::placeholder {
            color: rgba(51, 51, 51, 0.5);
            font-weight: 400;
        }
        &:nth-child(1) {
            grid-column: 1/3;
        }
        &:nth-child(2) {
            grid-column: 3/5;
        }
        &:nth-child(3) {
            grid-column: 5/7;
        }
    }

    &__message {
        grid-column: 1/-1;
        resize: none;
        background-color: #e5e5e5;
        border-radius: 5px;
        font-size: 14px;
        line-height: 19px;
        color: black;
        font-weight: 400;
        padding: 20px;
        &::placeholder {
            color: rgba(51, 51, 51, 0.5);
            font-weight: 400;
        }
    }

    &__info {
        grid-column: 1/4;
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 12px;
        color: rgba(51, 51, 51, 0.5);
    }

    &__address {
        font-style: normal;
        &::before {
            content: "\f041";
            @extend %beforestyle;
        }
        margin-right: 16px;
        position: relative;
        padding-left: 20px;
    }

    &__phone-items {
        margin-right: 16px;
        position: relative;
        padding-left: 20px;
        &::before {
            content: "\f095";
            @extend %beforestyle;
        }
    }

    &__phone-item {
        color: rgba(51, 51, 51, 0.5);
        &:hover {
            color: $yellow;
        }
    }

    &__info-mail {
        display: block;
        color: rgba(51, 51, 51, 0.5);
        position: relative;
        padding-left: 24px;

        &::before {
            content: "\f003";
            @extend %beforestyle;
        }
        &:hover {
            color: $yellow;
        }
    }

    &__btn {
        grid-column: 4/7;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        color: white;
        background-color: $yellow;
        border-radius: 5px;
        text-transform: uppercase;
        transition: 0.5s;
        &:hover {
            background-color: orange;
        }
    }
    &__copyright {
        text-align: center;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        background: rgba(0, 0, 0, 0.9);
        padding: 44px 0;
    }
    &__copyright-mindblister {
        font-weight: 700;
    }
}
